.nav {
    height: 30px;
    background: #e3e4e5;
    border-bottom: 5px solid #ddd;
}
.navB {
    margin: 0px auto;
    width: 1190px;
    text-align: center;
}
.navB ul li {
    display: inline-block;
    padding: 0px 10px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    position: relative;
}
.navB ul li a {
    color: #999999;
    text-decoration: none;
}
.navB ul li:not(:last-child):after {
    content: "";
    width: 1px;
    height: 14px;
    background: #cccccc;
    position: absolute;
    top: 8px;
    right: 0px;
    display: block;
}
.navB ul li a:hover {
    color: #021af1;
}
.img {
    text-align: center;
}
.txt {
    text-align: center;
}
.menu-box {
    width: 190px;
    background: #ffffff;
    position: relative;
    padding: 10px 0px;
    margin-right: 10px;
}
.menu-box ul li {
    height: 25px;
    line-height: 25px;
    padding: 0px 12px;
    overflow: hidden;
}
.menu-box ul li:hover {
    background: #d9d9d9;
}
.menu-box .sub-menu {
    position: absolute;
    top: 0px;
    left: 190px;
    background: #ffffff;
    z-index: 10;
    width: 900px;
    padding: 20px;
    font-size: 12px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
}
.sub-menu .left-box {
    float: left;
    max-width: 700px;
}
.sub-menu .right-box {
    float: right;
    width: 160px;
}
.sub-menu .menu-title {
    margin: 0px 0px 10px 0px;
}